html {
  overflow-x: hidden !important;
}

body {
  padding-top: 70px;
}

pre.prettyprint {
  padding: 9.5px !important;
  border: none !important;
  margin-bottom: 0px !important;
  background: white !important;
  margin-bottom: 10px !important;
}

.page-header {
  margin-top: 0px !important;
}

.progress {
  background-color: #E8F4FD;
}

nav {
  width: calc(100% - 240px);
}

/* Change the splitter bar settings to match the 10px width */
.TouchSplitter.h-ts>div.splitter-bar>div {
  margin-left: 3px !important;
  width: 5px !important;
}

.TouchSplitter.v-ts>div.splitter-bar>div {
  margin-top: 3px !important;
  height: 5px !important;
}

/* Change settings for profile info to allow for longer email without wrapping */
a.dropdown-button>i.right {
  margin-left: 6px !important;
}
.side-profile img {
  margin: 0px !important;
}

